---
---

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import "{{ site.theme }}";

header h1,
header h2 {
  width: auto;
  max-width: 100%;
}

body {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, serif;
  font-weight: 300;
}

#main-content h1,
#main-content h2 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
}
